DATABASE_URL=postgresql://neondb_owner:npg_HhXVdL2K5Gmx@ep-calm-fog-ah0itwx9-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=your-secret-key-here-32-characters-at-least
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
BETTER_AUTH_URL=http://localhost:8000
BETTER_AUTH_SECRET=CsNHf0j53EZ6WVDNoMxsmdq2hA8al2W3